/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "toriga";
    src: url("assets/fonts/Toriga.otf") format("opentype");
}

html,
body {
    margin: 0;
    font-family: "toriga", Courier, monospace;
}
