.header {
    padding: 3em 2em;
    background: rgb(53, 53, 53);
    color: white;

    h1,
    h4 {
        margin: 0;
    }

    h1 {
        font-size: 3.5em;
    }
}

.articles {
    padding: 0.5em 2em;
    text-decoration: none;
}

.article {
    cursor: pointer;
    display: flex;
    gap: 0.8em;
    border-bottom: solid #ccc 1px;
    padding: 1em;
    background-color: #fff;
    color: #333;

    &:last-child {
        border-bottom: none;
    }

    .author {
        
        color: #999;
    }

    div:first-child {
        flex-basis: 80%;
    }

    &:hover {
        background-color: #fafafa;
    }

    .date   {
        flex-basis: 15%;
    }

    .delete {
        padding: 0 1em;
        text-align: end;
        flex-basis: 5%;
        img {
            width: 16px;
        }

        img:hover{
            box-shadow: 2px 2px 5px gray;
        }
    }
}

.deleted {
  transition: all 0.5s ease-out;
  opacity: 0;
  height: 0;
  padding: 0 1em;
}