<div class="header">
    <div>
        <h1>HN Feed</h1>
        <h4>We <3 hacker news!</h4>
    </div>
</div>

<div class="articles">
    <div class="article" [ngClass]="{'deleted':article.deleted}" *ngFor="let article of articles; let i=index">
        <div class="name" (click)="navTo(article.url)">
            {{article.title}}
            <span class="author">
                - {{article.author}} -
            </span>
        </div>
        <div class="date" (click)="navTo(article.url)">
            {{ article.created_at | articleDate }}
        </div>
        <div class="delete">
            <img (click)="deleteArticle(article.objectID, i)" src="assets/icons/icons8-trash-24.png" alt="" srcset="">
        </div>
    </div>
</div>